<div class="Main__Family" [formGroup]="familyForm">
  <ng-container formArrayName="familyMembers" *ngFor="let member of familyMembers.controls; let i = index">
    <ng-template #showRemoveButton>
      <button class="remove" (click)="removeFamilyMember(i)">Remove</button>
    </ng-template>

    <app-common
      [member]="member.value"
      [memberIndex]="i"
      (sendCommonData)="updateFamilyMemberData(i, $event)"
    ></app-common>

    <div [formGroupName]="i">
      <label for="relation">Relation</label>
      <input
        type="text"
        name="relation"
        formControlName="relation"
        required
      />
      <div *ngIf="member.get('relation').invalid && (member.get('relation').dirty || member.get('relation').touched)" class="error">
        Relation is required.
      </div>
    </div>

    <div *ngIf="familyMembers.length > 1; then showRemoveButton"></div>
  </ng-container>
  <button class="add" (click)="addFamilyMember()">Add</button>
</div>
