<div>
  <form [formGroup]="commonForm" (ngSubmit)="handleCommonForm()">
    <app-common-input
      label="First Name*"
      placeholder="First Name"
      [control]="getFormControl('Fname')"
      requiredMessage="* Fname is required"
      minlengthMessage="Minimum 6 characters required"
    ></app-common-input>

    <app-common-input
      label="Last Name*"
      placeholder="Last Name"
      [control]="getFormControl('Lname')"
    ></app-common-input>

    <app-common-input
      label="Phone No*"
      placeholder="Enter Phone No."
      [control]="getFormControl('Phone')"
      requiredMessage="* Phone No is required"
      minlengthMessage="Phone number must be 10 digits"
      maxlengthMessage="Phone number must be 10 digits"
    ></app-common-input>

    <app-common-input
      label="D.O.B"
      type="date"
      [control]="getFormControl('dob')"
      requiredMessage="* Date of Birth is required"
    ></app-common-input>

   
  </form>
</div>
