<ng-container [formGroup]="basicForm" >
    <app-common></app-common>


    <div class="basic">
        <form (ngSubmit)="handleBasicForm()">    
          
        <app-common-input
        label="Email *"
        placeholder="Enter Email"
        [control]="getFormControl('Email')"
        type="email"
        requiredMessage="* Email is required"

      ></app-common-input>
            
            <app-common-input
            label="Website *"
            placeholder="Enter Website Url"
            [control]="getFormControl('Website')"
            type="text"
            requiredMessage="* Website is Required"
          
          ></app-common-input>
    
        
        </form>
    </div>

</ng-container>

