<app-common></app-common>
<div class="basic">
    <form [formGroup]="basicForm" (ngSubmit)="handleBasicForm()">    
        <div class="input_inline_single">
            <p>Email :</p>
            <div class="input_inline_error">
                <input type="email" formControlName="Email" placeholder="Enter Email">
                <small *ngIf="basicForm.get('Email')?.touched && basicForm.get('Email')?.invalid">* Email is Required</small>
                <small *ngIf="basicForm.get('Email')?.errors?.['pattern']">Invalid Email</small>
            </div>
        </div>
        
        <div class="input_inline_single">
            <p>Website :</p>
            <div class="input_inline_error">
                <input type="text" formControlName="Website" placeholder="Enter Website URL">
                <small *ngIf="basicForm.get('Website')?.touched && basicForm.get('Website')?.invalid">* Website is Required</small>
                <small *ngIf="basicForm.get('Website')?.errors?.['pattern']">Invalid Website</small>
            </div>
        </div>

    
    </form>
</div>
